@media (max-width: 370px) {
    .SingInBox {
        width: 75% !important;

        .SingInInner {
            
        }
    }
}

@media (max-width: 900px) {
    .SingInBox {
        width: 40%;

        .SingInInner {
            padding: 30px 28px;

            h2 {
                font-size: 20px;
                margin-bottom: 10px;
            }

            .singText {
                font-size: 12px;
            }

            form {
                row-gap: 16px;
                padding: 18px 0;

                label {
                    row-gap: 7px;
                    font-size: 12px;

                    input {
                        height: 35px;
                    }
                }

                .checkbox {
                    column-gap: 8px;
                }

                button {
                    height: 30px;
                }
            }
        }
    }
}