.homepageBanner {
   padding: 200px 0;
   background: url('./kot2.jpg') center/cover no-repeat;

   @media (max-width: 900px) {
      padding: 180px 0;
   }

   @media (max-width: 370px) {
      padding: 100px 0;
   }

   .container {
      padding: 0 100px;

      @media (max-width: 900px) {
         padding: 0 40px;
      }

      @media (max-width: 370px) {
         padding: 0 20px;
      }

      h3 {
         color: red;
         font-size: 32px;

         @media (max-width: 370px) {
            font-size: 16px;
         }
      }

      h2 {
         font-size: 50px;
         font-weight: 900;
         line-height: 45px;
         width: fit-content;
         margin: 20px 0 30px;
         letter-spacing: 0.1em;

         @media (max-width: 900px) {
            font-size: 42px;
            line-height: 36px;
            background: linear-gradient(to right, #ffffff, #555555);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
         }

         @media (max-width: 370px) {
            font-size: 25px;
            line-height: 20px;
            margin: 10px 0 20px;
         }
      }

      button {
         color: white;
         background-color: red;
         padding: 10px 30px;
         border-radius: 6px;

         @media (max-width: 370px) {
            font-size: 12px;
            padding: 6px 25px;
         }
      }
   }
}

.aboutUs {
   text-align: center;
   padding: 100px 0 80px;

   @media (max-width: 370px) {
      padding: 60px 0 40px;
   }

   .aboutUsInner {
      display: grid;
      text-align: left;
      column-gap: 80px;
      padding-top: 60px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;

      @media (max-width: 370px) {
         grid-template-columns: 1fr;
      }

      @media (max-width: 370px) {
         padding-top: 20px;
      }

      img {
         width: 100%;
         height: 100%;
         grid-row: 1/4;
         grid-column: 1;

         @media (max-width: 370px) {
            display: none;
         }
      }

      p {
         font-size: 20px;

         @media (max-width: 900px) {
            font-size: 16px;
         }

         @media (max-width: 370px) {
            font-size: 12px;
         }
      }

      ul {
         li {
            display: flex;
            font-size: 22px;
            font-weight: 700;
            column-gap: 20px;
            line-height: 37px;
            align-items: center;

            @media (max-width: 900px) {
               font-size: 16px;
               line-height: 25px;
            }

            @media (max-width: 370px) {
               font-size: 12px;
               line-height: 22px;
            }

            svg {
               color: red;
            }
         }
      }

      button {
         width: 30%;
         height: 30%;
         color: white;
         font-size: 18px;
         border-radius: 6px;
         align-self: center;
         background-color: red;

         @media (max-width: 900px) {
            font-size: 14px;
         }

         @media (max-width: 370px) {
            font-size: 12px;
            height: 20%;
         }
      }
   }
}

.bestTrainer {
   text-align: center;
   padding-bottom: 100px;

   .container {
      .bestTrainerInner {
         padding-top: 60px;

         ul {
            gap: 60px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            @media (max-width: 900px) {
               gap: 40px;
               grid-template-rows: repeat(3, 250px);
               grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width: 370px) {
               gap: 20px;
               grid-template-rows: repeat(3, 100px);
            }

            li {
               width: 100%;
               height: 360px;
               overflow: hidden;
               border-radius: 4px;

               @media (max-width: 900px) {
                  height: 100%;
               }


               img {
                  width: 100%;
                  border-radius: 4px;
                  transition: transform 0.5s ease;
                  transform-origin: center center;

                  &:hover {
                     transform: scale(1.1);
                  }
               }
            }
         }
      }
   }
}

@import './HomePageTop_media.scss';